*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  color: white;
  font-family: "Ubuntu";
  transition: 0.4s;
}
.light-mode {
  background-color: white;
  color: black;
  text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.dark-mode {
  background-color: #161513;
  color: white;
  text-decoration: none;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.dark-border {
  border: 2px solid white; /* Define border color for dark mode */
}

.light-border {
  border: 2px solid #161513; /* Define border color for light mode */
}
